<!DOCTYPE html>
<html>
<head>
  <title>Admin Login</title>
  <link rel="stylesheet" href="/public/css/style.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>

<div class="login-container">
  <h2>Admin Login</h2>

  <div id="error" class="error"></div>

  <input type="email" id="email" placeholder="Email">
  <input type="password" id="password" placeholder="Password">

  <button id="loginBtn">Login</button>
</div>

<script src="/public/js/app.js"></script>
</body>
</html>
