<h1>Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Customer</th>
      <th>Email</th>
      <th>Total</th>
      <th>Status</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody id="ordersTable">
    <tr>
      <td colspan="6">Loading orders...</td>
    </tr>
  </tbody>
</table>

<script src="/public/js/orders.js"></script>
